<p>rest works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h1>Insurance </h1>

    <table class="table">
        <thead class="thead-dark back">
            <tr>
                <th>Policy No</th>
                <th>Policy Holder Name</th>
                <th>Amount </th>
                <th>Amount for EMI</th>
                <th>Nominee Name</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr *ngFor ="let users of user">
                <td>{{users.policyNo}}</td>
                <td>{{users.HolderName}}</td>
                <td>{{users.amount}}</td>
                <td>{{users.amountforEMI}}</td>
                <td>{{users.nomineename}}</td>
            </tr>
        </tbody> -->
    </table> 
</body>
</html>
